<!-- Download Section -->
<section id="c-en-c" class="content-section text-center">
    <div class="c-en-c-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Crash & Compile</h2>
                <p>Competitive team based coding heuristic to identify the ballmer peak</p>
            </div>

        </div>
    </div>
</section>

<section class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
        <blockquote>
            <p>It's like Airbnb but for programming competitions</p>
        </blockquote>
            </div>
            <div class="col-md-4">
                <img alt="" class="img-responsive img-thumbnail" src="http://imgs.xkcd.com/comics/ballmer_peak.png"/>
            </div>
        </div>
    </div>
</section>
