<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p>&copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
            </div>

            <div class="col-md-4">
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a> </p>
            </div>
            <div class="col-md-4 col-md-offset-1 text-right">
                {% for network in site.social %}
                <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>
